newsapi-python
google-search-results 
sentence-transformers
scikit-learn
numpy
newspaper3k
beautifulsoup4

python-dotenv
lxml[html_clean]
yt_dlp
ffprobe
ffmpeg
faster-whisper
spacy
yake
keybert
groq
trafilatura